{% extends 'dz/base.html' %}
{% load static %}
{% block content%}
<div class="img">
    <div class="t">
        <h1>Никитин Александр Сергеевич</h1>
        <h1 id="fst">Python, HTML, CSS, JavaScript</h1>
        <h1 id="fst">Языки: Русский, Английский(B1)</h1>
        <h1 id="fst">Образование:</h1>
        <h1>
            <ul class="education-list">
            <li class="education-item">
                <div class="institution">Академия Синергия</div>
            </li>
            <li class="education-item">
                <div class="institution">Академия TOP</div>
            </li>
            <li class="education-item">
                <div class="institution">ЮФУ ИКТИБ</div>
                <div class="details">
                    <div><strong>Направление:</strong> Информатика и вычислительная техника</div>
                    <div class="specialization">Специализация: Технологии искусственного интеллекта</div>
        </h1>
        <h1 id="fst"><a href="https://github.com/batya333333">GitHub</a></h1>
    </div>
    <img src="{% static 'myapp/ocki-lezat-na-noutbuke-i-otrazaut-svet-ot-ekrana-v-temnote.jpg' %}" alt="">
</div>

<div class="block">
    {% for i in app %}
    <div class="element">
        <div><img src="{{ i.image.url }}" alt=""></div>
        <div class="text">
            <h2>
                <a href="{{ i.url }}" target="_blank">{{ i.title }}</a>
            </h2>
            <p>{{ i.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}

