<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-inner">
                <div class="menu">
                    <h3><a class="logo" href="">IVA SKIN</a></h3>
                    <h3><a class="menu__list-link" href="#">УСЛУГИ</a></h3>
                    <h3><a class="menu__list-link" href="#">О НАС</a></h3>
                    <h3><a class="menu__list-link" href="#">FAQ</a></h3>
                    <h3><a class="menu__list-link" href="#">КОНТАКТЫ</a></h3>
                </div>
                <div class="menu2">
                    <h3><a class="menu__list-link1" href="#" class="IVA" >Г. ТАГАНРОГ, УЛ. ОКТЯБРЬСКАЯ 17</a></h3>
                </div>
            </div>
        </div>
    </header>

    <section1 class="main-intro">
        <div class="main-inner">
            <div class="left">
                <h1>Iva Skin — гладкая кожа навсегда</h1>
                <ul class="main-list">
                    <li class="main-li" id="hah2">
                        <h2 id="main-h2">лазерная эпиляция</h2>
                    </li>
                    <li class="main-li">
                        <h2 id="main-h2">брови</h2>
                    </li>
                    <li class="main-li">
                        <h2 id="main-h2">ресницы</h2>
                    </li>
                </ul>
                <h2 id="main-h22">Идеальная кожа — это просто. Доверься профессионалам Iva Skin</h2>
                <button class="main-btn">записаться</button>
            </div>
            <div class="right">
                <img src="../static/logo.jpg">
            </div>
        </div>
    </section1>

    <section2>
        <div class="service-inner">
            <div class="service-top-text">
                <h1 id="service-top-h1">Лазерная эпиляция в Iva Skin выбери свой идеальный комплекс</h1>
                <h4 id="service-top-h4">Хочешь гладкую кожу без лишних хлопот? Мы предлагаем готовые решения для разных зон — просто выбери подходящий вариант!</h4>
            </div>
            <div class="wrapper-complex">
                <div class="complex1">
                    <img id='img1'src="../static/service1.jpg">
                    <div class="text-img">
                        <h1>Комплекс (XL) — 5 000 ₽</h1>
                        <h3 id="complex-h3">Для тех, кто ценит максимум комфорта:</h3>
                        <h3>ноги полностью + бикини/подмышки</h3>
                        <h3>Экономия до 30% по сравнению с разовыми процедурами</h3>
                        <h3>Идеально перед отпуском или к важному событию</h3>
                    </div>
                </div>
                <div class="complex1">
                    <img id='img2'src="../static/servive2.jpg">
                    <div class="text-img">
                        <h1>Комплекс (L) — 2 900 ₽</h1>
                        <h3>Для тех, кто ценит максимум комфорта:</h3>
                        <h3>Ноги до колен + подмышки</h3>
                        <h3>Или бикини + подмышки</h3>
                        <h3>Оптимальное сочетание цены и результата</h3>
                    </div>
                </div>
                <div class="complex1">
                    <img id='img3'src="../static/service3.jpg">
                    <div class="text-img">
                        <h1>Комплекс (М) — 2 200 ₽</h1>
                        <h3>Локальное решение:</h3>
                        <h3>Живот + линия бикини</h3>
                        <h3>Руки до локтя</h3>
                        <h3>Или зона подбородка/шеи</h3>
                    </div>
                </div>
                <div class="complex1">
                    <img id='img4'src="../static/service4.jpg">
                    <div class="text-img">
                        <h1>Комплекс (S) — 1 700 ₽</h1>
                        <h3>Для точечной коррекции:</h3>
                        <h3>Подмышки</h3>
                        <h3>Глубокое бикини</h3>
                        <h3>Верхняя губа</h3>
                    </div>
                </div>
                <div class="complex1">
                    <img id='img5'src="../static/service5.jpg">
                    <div class="text-img">
                        <h1>Комплекс (XS) — 1 400 ₽</h1>
                        <h3>Мини-зоны:</h3>
                        <h3>Кисти рук</h3>
                        <h3>Лицо (верхняя губа, подбородок)</h3>
                        <h3>Межбровье</h3>
                    </div>
                </div>
            </div>
        </div>
    </section2>

    <section class="section3">
        <div class="about-us">
            <h1>IVA SKIN — идеальная гладкость без компромиссов</h1>
            <h3>Профессиональная лазерная эпиляция на оборудовании последнего поколения для всех типов кожи</h3>
        </div>

        <div class="parent">
            <div class="div1">
                <img src="../static/laser4.png">
                <div class="text-chose">
                    <h1>ТЕХНОЛОГИИ</h1>
                    <div class="hh2">
                        <h3>3 типа сертифицированных лазеров для всех фототипов кожи</h3>
                        <h3>Встроенная система охлаждения Cryo Technology для комфорта</h3>
                        <!-- <h2>Технология избирательного фототермолиза - воздействие только на волосы</h2>
                        <h2>Европейские сертификаты безопасности всех аппаратов</h2> -->
                    </div>
                </div>
            </div>
            <div class="div1">
                <img src="../static/laser1.png">
                <div class="text-chose">
                    <h1>НАША КОМАНДА</h1>
                    <div class="hh2">
                        <h3>Врачи-косметологи с опытом работы от 5 лет</h3>
                        <h3>Бесплатная первичная консультация с диагностикой кожи</h3>
                        <!-- <h2>Индивидуальный протокол процедур для каждого клиента</h2>
                        <h2>Контроль результата после каждого сеанса</h2> -->
                    </div>
                </div>
            </div>
            <div class="div1">
                <img src="../static/laser2.png">
                <div class="text-chose">
                    <h1>БЕЗОПАСНОСТЬ</h1>
                    <div class="hh2">
                        <h3>Полностью одноразовые расходные материалы</h3>
                        <h3>Стерилизация оборудования после каждого клиента</h3>
                        <!-- <h2>Гипоаллергенные охлаждающие гели</h2>
                        <h2>Медицинские протоколы проведения процедур</h2> -->
                    </div>
                </div>
            </div>
            <div class="div1">
                <img src="../static/laser3.png">
                <div class="text-chose">
                    <h1>КОМФОРТ</h1>
                    <div class="hh2">
                        <h3>Удобное расположение в центре города с парковкой</h3>
                        <h3>Уютные процедурные кабинеты для посетителей</h3>
                        <!-- <h2>Гибкий график работы с 9:00 до 21:00</h2>
                        <h2>Система лояльности и рассрочка платежа</h2> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section4">
        
    <div class="parent2">
        <div class="div11">
            <h1>Первые сутки</h1>
            <h3>Сразу после процедуры важно охладить кожу с помощью холодного компресса или геля с алоэ вера, чтобы уменьшить покраснение. Используйте только гипоаллергенные увлажняющие средства без отдушек, такие как пантенол. В этот период избегайте любых раздражающих факторов: не трите кожу, исключите спиртосодержащие продукты и воздержитесь от посещения бань, саун и бассейнов</h3>
        </div>
        <div class="div22">
            <h1>Первая неделя</h1>
            <h3>Для очищения кожи выбирайте мягкие пенки или мицеллярную воду. Обязательно защищайте обработанные участки от солнца, используя средства с SPF 30+, даже в пасмурную погоду. Увлажняйте кожу легкими эмульсиями с церамидами, но избегайте скрабов, пилингов и декоративной косметики на этих зонах</h3>
        </div>
        <div class="div33">
            <h1>Долгосрочный уход</h1>
            <h3>Через 7–10 дней можно аккуратно ввести энзимные или кислотные пилинги с концентрацией AHA 5–10%. Если остались отдельные волоски, удалять их можно не ранее чем через две недели после процедуры. Регулярно увлажняйте кожу кремами с мочевиной или гиалуроновой кислотой для поддержания ее здоровья</h3>
        </div>
        <div class="div44">
            <h1>Подготовка к следующему сеансу</h1>
            <h3>За три дня до процедуры откажитесь от загара и автозагара. В день сеанса аккуратно побрейте обрабатываемую зону и не наносите кремы или масла.</h3>
        </div>
    </div>
    
    </section> -->
</body>
</html>
